/* Light theme */
:root {
    --text-color: #000;
    --bg-color: #fff;
    --navbar-text-invers-color: #ff2626;
    --navbar-text-color: #000000;
    --navbar-bg-color: #f8f8f8;
    
    --copyright-color: #ff2626;
    --footer-a-color: #906d6d;
    --sidebar-hn-color: #000000;
    --sidebar-a-color: #000000;
    --sidebar-a-hover-color: #8b8b8b;
    --well-text-color: #ffffff;
    --well-bg-color: #f8f8f8;
    --well-border-color: #d8d8d8;
    --well-hn-color: #ff2626;
    --well-a-color: #000;
    --author-color: #ff2626;
    --author-a-color: #37493a;
    
    --code-color: #000;
    --code-bg-color: #d8d8d8;
    --code-bg-small-color: #e9e9e9;
}

/* Dark theme */
@media (prefers-color-scheme: light) {
    :root {
        --text-color: #fff;
        --bg-color: #000;
        --navbar-text-invers-color: #ff2626;
        --navbar-text-color: #ffffff;
        --navbar-bg-color: #000000;
        
        --copyright-color: #ff2626;
        --footer-a-color: #906d6d;
        --sidebar-hn-color: #ffffff;
        --sidebar-a-color: #ffffff;
        --sidebar-a-hover-color: #626262;
        --well-text-color: #ffffff;
        --well-bg-color: #111111;
        --well-border-color: #1b1b1b;
        --well-hn-color: #ff2626;
        --well-a-color: #fff;
        --author-color: #ff2626;
        --author-a-color: #37493a;

        --code-color: #fff;
        --code-bg-color: #1b1b1b;
        --code-bg-small-color: #161616;
    }
}

body {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: var(--bg-color);
    color: var(--text-color);
}

.dark-mode {
    --text-color: #fff;
    --bg-color: #000;
    --navbar-text-invers-color: #ff2626;
    --navbar-text-color: #ffffff;
    --navbar-bg-color: #000000;
    
    --copyright-color: #ff2626;
    --footer-a-color: #906d6d;
    --sidebar-hn-color: #ffffff;
    --sidebar-a-color: #ffffff;
    --sidebar-a-hover-color: #626262;
    --well-text-color: #ffffff;
    --well-bg-color: #111111;
    --well-border-color: #1b1b1b;
    --well-hn-color: #ff2626;
    --well-a-color: #fff;
    --author-color: #ff2626;
    --author-a-color: #37493a;

    --code-color: #fff;
    --code-bg-color: #1b1b1b;
    --code-bg-small-color: #313131;
}

.copyright {
    color: var(--copyright-color);
}

.footer {
    text-align: center;
}

.footer a {
    color: var(--footer-a-color);
}

.sidebar h1 {
    color: var(--sidebar-hn-color);
    font-size: 1.3em;
}

.sidebar h4 {
    color: var(--sidebar-hn-color);
}

.sidebar h5 {
    color: var(--sidebar-hn-color);
}

.sidebar a {
    color: var(--sidebar-a-color);
    text-decoration: none;
}

.sidebar ul {
    padding-left:22px;
}

.sidebar li {
    margin-top: .7em;
    line-height: 1em;
}

.sidebar a:hover {
    color: var(--sidebar-a-hover-color);

    -webkit-transition: color 1s;
    -moz-transition:    color 1s;
    -ms-transition:     color 1s;
    -o-transition:      color 1s;
    transition:         color 1s;
}

.container-left {
    margin: 0;
}

.well{
    background-color: var(--well-bg-color);
    color: var(--text-color);
    border: hidden var(--well-border-color);
}

.well h1 {
    color: var(--well-hn-color) !important;
    font-size: 33px;
}

.well h1 a{
    color: var(--well-hn-color) !important;
    font-size: 33px;
}

.well h1 a:hover{
    color: var(--text-color) !important;
    font-size: 33px;
}

.well a {
    color: var(--well-a-color);
    text-decoration: none;
}

.well a:hover {
    color: var(--sidebar-a-hover-color);
    text-decoration: none;

    -webkit-transition: color 0.5s;
    -moz-transition:    color 0.5s;
    -ms-transition:     color 0.5s;
    -o-transition:      color 0.5s;
    transition:         color 0.5s;
}

.author {
    color: var(--author-color);
}

.author a {
    color: var(--author-a-color);
}

.navbar .navbar-brand {
    color: var(--navbar-text-color);
    background-color: var(--navbar-bg-color);
    border: hidden var(--well-border-color);
}

.navbar .navbar-brand:hover {
    color: var(--navbar-text-invers-color);
    background-color: var(--navbar-bg-color);
    border: hidden var(--well-border-color);;

    -webkit-transition: color 1s;
    -moz-transition:    color 1s;
    -ms-transition:     color 1s;
    -o-transition:      color 1s;
    transition:         color 1s;
}

.navbar-inverse {
    color: var(--navbar-text-invers-color);
    background-color: var(--navbar-bg-color);
    border-bottom: 1px solid var(--well-border-color);;
}

.navbar-inverse .navbar-brand {
    color: var(--navbar-text-color);
    background-color: var(--navbar-bg-color);
    border: hidden var(--well-border-color);;
}

.navbar-collapse .navbar-nav .nav-item .nav-link{
    color: var(--navbar-text-color);
    background: var(--navbar-bg-color);
    border: hidden var(--well-border-color);;
}

.navbar-collapse .navbar-nav .nav-item .nav-link:hover{
    color: var(--navbar-text-invers-color);
    background: var(--navbar-bg-color);
    border: hidden var(--well-border-color);;

    -webkit-transition: color 1s;
    -moz-transition:    color 1s;
    -ms-transition:     color 1s;
    -o-transition:      color 1s;
    transition:         color 1s;
}

.highlight {
    color: var(--code-color);
    background: var(--code-bg-color) !important;
    border: hidden var(--well-border-color);
}

.highlighter-rouge {
    color: var(--code-color);
    background: var(--code-bg-color) !important;
    border: hidden var(--well-border-color);
}

.btn {
    color: var(--code-color) !important;
    background: var(--code-bg-color) !important;
    border: hidden var(--well-border-color);
}

.btn:hover {
    color: var(--code-color) !important;
    background: var(--sidebar-a-hover-color) !important;
    border: hidden var(--well-border-color);
}




