<script>
const colorScheme = localStorage.getItem("color-scheme") || "light-mode";

let darkModeState = false;

// MediaQueryList object
const useDark = window.matchMedia("(prefers-color-scheme: dark)");

// Toggles the "dark-mode" class
function toggleDarkMode(state) {
  document.documentElement.classList.toggle("dark-mode", state);
  darkModeState = state;

  if (state) {
    document.getElementById("theme-color-button").innerHTML = "Light";
  } else {
    document.getElementById("theme-color-button").innerHTML = "Dark";
  }
}

// Sets localStorage state
function setDarkModeLocalStorage(state) {
  localStorage.setItem("dark-mode", state);
}

// Initial setting
toggleDarkMode(localStorage.getItem("dark-mode") == "true");

// Toggles the "dark-mode" class on click and sets localStorage state

function switchDarkLight() {
    darkModeState = !darkModeState;

    toggleDarkMode(darkModeState);
    setDarkModeLocalStorage(darkModeState);
}
</script>