<div class="sidebar well">
    <!--<h4>Twitter</h4>
    <a class="twitter-timeline" data-height="515" href="https://twitter.com/Zerrotajo?ref_src=twsrc%5Etfw">Tweets by Zerrotajo</a>
    <a href="https://twitter.com/intent/tweet?button_hashtag=sysadmin&ref_src=twsrc%5Etfw" class="twitter-hashtag-button" data-show-count="false">#sysadmin</a>
    <a href="https://twitter.com/intent/tweet?button_hashtag=kubernetes&ref_src=twsrc%5Etfw" class="twitter-hashtag-button" data-show-count="false">#kubernetes</a>
    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>-->
<h4>Kubernetes Containers Tools</h4>
  <ul>
    <li><a href="https://github.com/Tedezed/kubernetes-containers-tools/tree/master/squirrel">Squirel secrets rotation</a></li>
    <li><a href="https://github.com/Tedezed/kubernetes-containers-tools/tree/master/liberty">Liberty Ingress</a></li>
    <li><a href="https://github.com/Tedezed/kubernetes-containers-tools/tree/master/secure_emailing">Secure Emailing Gateway</a></li>
    <li><a href="https://github.com/Tedezed/kubernetes-containers-tools/tree/master/cloud-cementery/docker">Cloud Cementery</a></li>
    <li><a href="https://github.com/Tedezed/kubernetes-containers-tools/tree/master/cron-backup-kubernetes">Backups for Kubernetes in yaml</a></li>
    <li><a href="https://github.com/Tedezed/kubernetes-containers-tools/tree/master/backup-db-cron">Backups/Snapshots for all</a></li>
    <li><a href="https://github.com/Tedezed/kubernetes-containers-tools/tree/master/sftp-multiuser">SFTP Multiuser</a></li>
    <li><a href="https://github.com/Tedezed/kubernetes-containers-tools/tree/master/statefulset_autoscaler">StatefulSet autoscaler</a></li>
    <li><a href="https://github.com/Tedezed/kubernetes-containers-tools/tree/master/tools/Kubernetes/concurrent-kubectl-gcloud">Concurrent kubectl gcloud</a></li>
    <li><a href="https://github.com/Tedezed/kubernetes-containers-tools/tree/master/debian-box">Debian Box</a></li>
  </ul>
</div>

<div class="sidebar well">
<h4>Heavens Above</h4>
  <ul>
    <p>ISS</p>
    <li><img src="https://www.heavens-above.com/orbitdisplay.aspx?icon=default&width=300&height=300&satid=25544" height="90%" width="90%"></li>
    <p>Hubble</p>
    <li><img src="https://www.heavens-above.com/orbitdisplay.aspx?icon=default&width=300&height=300&satid=20580" height="90%" width="90%"></li>
    <p>Space probes</p>
    <li><img src="https://www.heavens-above.com/SolarEscapePic.aspx?sz=400&xSun=200&ySun=200&widthAU=250&EclLat=10&EclLong=0&cul=EN" height="90%" width="90%"></li>
  </ul>
</div>