<div class="sidebar well">
    <h4>Twitter</h4>
    <a class="twitter-timeline" data-height="1000" href="https://twitter.com/Zerrotajo?ref_src=twsrc%5Etfw">Tweets by Zerrotajo</a>
    <a href="https://twitter.com/intent/tweet?button_hashtag=sysadmin&ref_src=twsrc%5Etfw" class="twitter-hashtag-button" data-show-count="false">#sysadmin</a>
    <a href="https://twitter.com/intent/tweet?button_hashtag=kubernetes&ref_src=twsrc%5Etfw" class="twitter-hashtag-button" data-show-count="false">#kubernetes</a>
    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
</div>